<div class="contact-hero">
	<div class="headline">Contact</div>
</div>
<div class="page-intro">
	<div class="intro-headline">Get In Touch</div>
	<p>Whether you have a project you need help with, or you're a potential employer looking for new blood, I'd love to have a chat with you.</p>
</div>
<div class="contact-info">
	<div><span class="c-span">Phone:</span> <span class="c-content">(616) 264 7010</span></div>
	<div><span class="c-span">Email:</span> <span class="c-content">calebeggers11@gmail.com</span></div>
	<div>
		<a href="https://www.linkedin.com/in/caleb-eggers"><img class="linkedin" src="../images/linkedin-logo.png"></a>
		<a href="https://github.com/calebeggers"><img class="github" src="../images/imgres.png"></a>
	</div>
</div>