<div>Caleb A. Eggers</div>
<div>
	<p>
		Caleb Eggers is a Front End Engineer with experience in JavaScript and HTML/CSS. He recently graduated from a three month code training course at The Iron Yard in Atlanta, Georgia. Here, he learned the basics of front end web development, and moved into more advanced concepts in order to become proficient in frameworks such as jQuery and AngularJS.
	</p>
	<p>
		Previous to The Iron Yard, Caleb worked with a web design and development agency called Thinkbox Creative in order to acclimate himself with the tech industry and day to day operations within a startup and a development firm. He started with Thinkbox at the age of 15. At Thinkbox Creative, he became proficient with WordPress and several plugins. He also discovered his love for code and design during his time there.
	</p>
	<p>
		In his free time, Caleb is learning the basics of Java, a back end language, in order to more fully flesh out his experience in the coding industry. He enjoys watching movies such as <i>The Departed</i> and <i>Pulp Fiction</i>. Alongside his love for modern and classic cinematography, he spends a lot of time playing video games.
	</p>
	<p>
		Caleb is open to many types of work, both freelance and full time position openings, remote or otherwise.
	</p>
</div>

<a href="/#/projects"><div>View Projects</div></a>