<div class="projects-hero">
	<div class="headline">Projects</div>
</div>
<div class="page-intro">
	<div class="intro-headline">My Work</div>
	<p>From class projects to collaborative work, I pride myself in working hard to deliver a product that fulfils the client's wishes to the best of my ability. Below is a collection of projects that I have been honored to work on.</p>
</div>
<div class="projects">

	<div class="project">
		<div class="left">
			<div class="project-info">
				<div class="p-title">
					<span>GitHub Social</span>
				</div>
				<div class="p-desc">A proposed GitHub extension that expands on the social aspect of sharing code with others. GitHub Social seeks to create an open forum for code-based discussion. Built with AngularJS and AdonisJS. This was a paraprogramming project with <a href="https://github.com/czherrington">Christopher Z. Herrington</a>.</div>
			</div>
			
		</div><div class="github-social">
			<div class="project-buttons">
				<a href="http://github-social.surge.sh/#/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/github-social-front"><div>View The Source Code</div></a>
			</div>
		</div>
	</div>

	<div class="project">
		<div class="portfolio-builder">
			<div class="project-buttons">
				<a href="http://blueflame.surge.sh/#/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/portfolio-builder"><div>View The Source Code</div></a>
			</div>
		</div><div class="right">
			<div class="project-info">
				<div class="p-title">
					<span>Portfolio Builder</span>
				</div>
				<div class="p-desc">A resume style application that allows a user base to submit information about themselves and create a resume based on a template.  This was a paraprogramming project with <a href="https://github.com/rodneyfowlkes">Rodney Fowlkes Jr</a>.</div>
			</div>
		</div>
	</div>

	<div class="project">
		<div class="left">
			<div class="project-info">
				<div class="p-title">
					<span>Instagram Clone</span>
				</div>
				<div class="p-desc">A partially functional clone of Instagram. It allows for the addition of user submitted photos, and tracks likes. This project was used to learn the concepts behind isolate scope and MVC. Built with AngularJS.</div>
			</div>
		</div><div class="insta-clone">
			<div class="project-buttons">
				<a href="http://tiy-calebeggers-insta-clone.surge.sh/#/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/instagram-clone"><div>View The Source Code</div></a>			
			</div>
		</div>
	</div>

	<div class="project">
		<div class="responsive-timeline">
			<div class="project-buttons">
				<a href="http://tiy-calebeggers-responsive-timeline.surge.sh/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/responsive-timeline"><div>View The Source Code</div></a>
			</div>
		</div><div class="right">
			<div class="project-info">
				<div class="p-title">
					<span>Responsive Timeline</span>
				</div>
				<div class="p-desc">A timeline of items built to practice responsive design. This project reinforced concepts involving fully responsive web design and mobile-first approach. Here, I used CSS media Queries for the first time. It was also meant to help with more advanced CSS techniques. Built with HTML/CSS.</div>
			</div>
		</div>
	</div>

	<div class="project">
		<div class="left">
			<div class="project-info">
				<div class="p-title">
					<span>SoundCloud Clone</span>
				</div>
				<div class="p-desc">A small site that displays recent music posted to SoundClound, and allows you to search and play artists or music from soundcloud. This was used to practice API calls and state changing. This project also reinforced my knowledge of AJAX requests and responses. Built with jQuery.</div>
			</div>	
		</div><div class="soundcloud-clone">
			<div class="project-buttons">
				<a href="http://tiy-calebeggers-soundcloud-clone.surge.sh/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/soundcloud-clone"><div>View The Source Code</div></a>	
			</div>
					
		</div>
	</div>

	<div class="project">
		<div class="restaurant-mockup">
			<div class="project-buttons">
				<a href="http://tiy-calebeggers-restaurant-mockup.surge.sh/"><div>View The Live Site</div></a>
				<a href="https://github.com/calebeggers/soundcloud-clone"><div>View The Source Code</div></a>
			</div>
		</div><div class="right">
			<div class="project-info">
				<div class="p-title">
					<span>Restaurant Mockup</span>
				</div>
				<div class="p-desc">A mockup site for a fake restaurant that shows state changes and form submission to a server. The project focused on building teamwork with people we weren't necessarily comfortable with. Built with AngularJS. This was a paraprogramming project with <a href="https://github.com/tonyjsouthern">Tony J. Southern</a>.</div>
			</div>
		</div>
	</div>
</div>