<div>projects</div>

<div>
	<div class="project">
		<div class="p-title">GitHub Social</div>
		<div class="p-desc">A proposed GitHub extension that expands on the social aspect of sharing code with others. GitHub Social seeks to create an open forum for code-based discussion. This was a paraprogramming project with <a href="https://github.com/czherrington">Christopher Z. Herrington</a>.</div>
		<a href="http://github-social/#/">View The Live Site</a>
		<a href="https://github.com/calebeggers/github-social-front">View The Source Code</a>
	</div>

	<div class="project">
		<div class="p-title">Portfolio Builder</div>
		<div class="p-desc">A resume style application that allows a user base to submit information about themselves and create a resume based on a template. This was a paraprogramming project with <a href="https://github.com/rodneyfowlkes">Rodney Fowlkes Jr</a>.</div>
		<a href="http://blueflame.surge.sh/#/">View The Live Site</a>
		<a href="https://github.com/calebeggers/portfolio-builder">View The Source Code</a>
	</div>

	<div class="project">
		<div class="p-title">Instagram Clone</div>
		<div class="p-desc">A partially functional clone of Instagram. It allows for the addition of user submitted photos, and tracks likes.</div>
		<a href="http://tiy-calebeggers-insta-clone.surge.sh/#/">View The Live Site</a>
		<a href="https://github.com/calebeggers/instagram-clone">View The Source Code</a>
	</div>

	<div class="project">
		<div class="p-title">Responsive Timeline</div>
		<div class="p-desc">A timeline of items built to practice responsive design.</div>
		<a href="http://tiy-calebeggers-responsive-timeline.surge.sh/">View The Live Site</a>
		<a href="https://github.com/calebeggers/responsive-timeline">View The Source Code</a>
	</div>

	<div class="project">
		<div class="p-title">SoundCloud Clone</div>
		<div class="p-desc">A small site that displays recent music posted to SoundClound, and allows you to search and play artists or music from soundcloud. This was used to practice API calls.</div>
		<a href="http://tiy-calebeggers-soundcloud-clone.surge.sh/">View The Live Site</a>
		<a href="https://github.com/calebeggers/soundcloud-clone">View The Source Code</a>
	</div>

	<div class="project">
		<div class="p-title">Restaurant Mockup</div>
		<div class="p-desc">A mockup site for a fake restaurant that shows AngularJS state changes and form submission to a server. This was a paraprogramming project with <a href="https://github.com/tonyjsouthern">Tony J. Southern</a>.</div>
		<a href="http://tiy-calebeggers-restaurant-mockup.surge.sh/">View The Live Site</a>
		<a href="https://github.com/calebeggers/soundcloud-clone">View The Source Code</a>
	</div>

</div>